
/* GENERAL */

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(71, 71, 71);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(71, 71, 71);

}

#terug{
    padding-left: 20px; 
    padding-right: 20px;
    padding: 10px; 
    text-align: center;
    background-color:rgb(213, 180, 49);
    width: 40px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 40px;
 }
 
 #terug a {
     color: white;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 
 }



 

/*INLOGGEN*/ 

#middenkader{
    background-color:rgb(189, 228, 236);
    background-image: url(../img/munt.png);
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: top right;

    padding: 50px;
    border-radius: 20px;;
    margin-top: 30px;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px 8px #e2e2e2;
    margin-bottom: 30px;
}

#middenkader h1{
    font-size: 30px;
  
}

#middenkader h2{
    font-size: 20px;
  
}



#form_inloggen{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(231, 246, 248);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

.formfield{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-inloggen{
    -webkit-appearance: none;
    background-color: rgb(213, 180, 49);
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    

}

#middenkader a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(213, 180, 49);
    padding-top: 8px;
}

/*-----------aanmelden*/ 

#aanmelden{
    background-color:rgb(189, 228, 236);
    background-image: url(../img/munt.png);
    background-repeat: no-repeat;
    background-size: 140px;
    background-position: top right;

    padding: 50px;
    border-radius: 20px;;
    margin-top: 30px;
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 100px;
    box-shadow: 5px 5px 8px #e2e2e2;
}

#aanmelden a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(238, 214, 116);
    padding-top: 8px;
}

#aanmelden h2{
    font-size: 16px;
}

#aanmelden h1{
    font-size: 30px;
}

#form_aanmelden{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(231, 246, 248);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}


/*INDEX---------------------------*/ 

#profielbox{
    background-color:rgb(189, 228, 236);
    background-image: url(../img/top_munt.png);
    background-repeat: no-repeat;
    background-size: 190px;
    background-position: top right;

    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    width: 70%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 8px #e2e2e2;
    padding-bottom: 100px;
}

#profieltekst{
    padding: 20px;
}

#geel{
    color: rgb(196, 165, 44);
    padding: 2px;
}




#nieuweTransfer, #alleTransfers {
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    width: 78%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(144, 174, 179);;
    margin-left: 10%;
    
}
#links{
    margin-top: 50px;
}
#links a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(109, 159, 169);
}

#huidigetokens{
    color:   rgb(213, 180, 49);
    font-size: 50px;
    font-weight: 800;
    padding: 20px;
}

#huidigsaldo{
    background-color: white;
    border-radius: 10px;
    width: 60%;
    margin-left: 20%;
    height: 300px;
    margin-top: 50px;
}

#huidigsaldotekst{
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/*NIEUWE TRANSFER*/

#paginatitel{
    width: 100%;
    height: 100px;
    text-align:center;
    margin-bottom: -120px;
}
#paginatitel p{
    margin-top: -16px;
}


#kader_groot_transfer{
    background-color: rgb(189, 228, 236);
    background-image: url(../img/munt.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom right;

    
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 8px rgb(144, 174, 179);

}

#form_transfer{
    padding: 40px;
    padding-left: 20px;
}

.formfield, .search-box{
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 15px;
    width: 40%;
}

#form_transfer .formfield{
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}






.btn{
    padding: 10px;
    border: none;
    background: rgb(127, 184, 196);
    border-radius: 10px;
    color: white;
    margin-left: 40px;
    }
    

/*  ALLE TRANSACTIES--en 
/*  DETAILS--------------------*/

#kader_details{
    border-radius: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 90px;
    padding: 40px;
}

#details_kader{
    background-color:rgb(189, 228, 236);
    padding: 20px;
    border-radius: 20px;
    padding-left: 10px;
    
}

#kader_details p{
    font-size: 16px;
}

#details_datum{
    text-align: center;

}

.btndetails{
    float: right;
   padding-left: 10px; 
   padding-right: 10px;
   padding: 10px; 
   text-align: center;
   background-color: #7FB8C4;
   width: 60px;
   border-radius: 10px;
   margin-top: -90px;
   margin-right: 20px;
}

.btndetails a{
   color: white;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 10px;
}

#details_gegevens{
    background-color: white;
    padding-left: 30px;
    padding: 20px;
    border-radius: 20px;
    font-family: arial;
    color: rgb(71, 71, 71);
    padding-left: 60px;
    padding-top: 30px;
}
 
/*UITLOGGEN--------------------*/


#logout{
    right: 80px;
    padding: 20px;
    background-color:rgb(213, 180, 49);
    width: 70px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

#logout a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}







/* MEDIAQUERIE PC------------------------------*/

@media only screen and (min-width: 1210px) {
    /* tablets and desktop */

/*INLOGGEN*/ 

#middenkader{
    background-color:rgb(189, 228, 236);
    background-image: url(../img/munt.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: 600px;
    background-position-y: 140px;

    padding: 50px;
    border-radius: 20px;;
    margin-top: 100px;
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 5px 5px 8px #e2e2e2;
}

#middenkader h1{
    font-size: 40px;
    line-height: 7px;
  
}



#form_inloggen{
    width: 50%;
    margin-right: 700px;
    text-align: center;
    background-color: rgb(231, 246, 248);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    color: grey;
}

.formfield{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-inloggen{
    -webkit-appearance: none;
    background-color: rgb(213, 180, 49);
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    

}

#middenkader a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(213, 180, 49);
    padding-top: 8px;
}

/*-----------aanmelden*/ 

#aanmelden{
    background-color:rgb(189, 228, 236);
    background-image: url(../img/munt.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: 700px;
    background-position-y: 140px;

    padding: 50px;
    border-radius: 20px;;
    margin-top: 80px;
    width: 60%;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 100px;
    box-shadow: 5px 5px 8px #e2e2e2;
}

#aanmelden a{
    text-decoration: none;
    font-size: 16px;
    color:  rgb(238, 214, 116);
    padding-top: 8px;
}

#form_aanmelden{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(231, 246, 248);
    padding: 20px;
    margin-top: -20px;
    border-radius: 20px;
    color: grey;
}


/*INDEX*/ 

#profielbox{
    background-color:rgb(189, 228, 236);
    background-image: url(../img/top_munt.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 700px;
    background-position-y: -10px;

    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    width: 60%;
    height:460px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 8px #e2e2e2;
}

#profieltekst{
    padding-left: 80px;
    padding-top: 60px;
}

#geel{
    color: rgb(196, 165, 44);
    padding: 2px;
}




#nieuweTransfer, #alleTransfers {
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(144, 174, 179);
    margin-left: 0%;
    
}
#links{
    margin-top: 50px;
}
#links a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(109, 159, 169);
}

#huidigetokens{
    color:   rgb(213, 180, 49);
    font-size: 50px;
    font-weight: 800;
    padding: 20px;
}

#huidigsaldo{
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    float: right;
    margin-right: 80px;
    margin-top: -130px;
}

#huidigsaldotekst{
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}



/*NIEUWE TRANSFER*/

#paginatitel{
    width: 100%;
    height: 100px;
    text-align:center;
    margin-bottom: -120px;
}
#paginatitel p{
    margin-top: -16px;
}


#kader_groot_transfer{
    background-color: rgb(189, 228, 236);
    background-image: url(../img/munt.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: 500px;
    background-position-y: 10px;

    
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 8px rgb(144, 174, 179);

}

#form_transfer{
    padding: 40px;
    padding-left: 120px;
}

.formfield, .search-box, .form-group, .formfield{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 40%;
}


#form_transfer .formfield{
    margin-left: 40px;
    margin-right: 0px;
    text-align: left;
}



.btn{
    padding: 10px;
    border: none;
    background: rgb(127, 184, 196);
    border-radius: 10px;
    color: white;
    margin-left: 40px;
    }
    



/*  ALLE TRANSACTIES--en 
/*  DETAILS--------------------*/

#kader_details{
    border-radius: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 90px;
    padding: 40px;
}

#details_kader{
    background-color:rgb(189, 228, 236);
    padding: 40px;
    border-radius: 20px;
    padding-left: 40px;
}

#kader_details p{
    font-size: 16px;
}

#details_datum{
    text-align: center;

}

#details_gegevens{
    background-color: white;
    padding-left: 30px;
    padding: 20px;
    border-radius: 20px;
    font-family: arial;
    color: rgb(71, 71, 71);
    padding-left: 60px;
    padding-top: 30px;
}


.btndetails{
    float: right;
   padding-left: 20px; 
   padding-right: 20px;
   padding: 20px; 
   text-align: center;
   background-color: #7FB8C4;
   width: 120px;
   border-radius: 10px;
   margin-top: -90px;
   margin-right: 20px;
}

.btndetails a{
   color: white;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}





/*UITLOGGEN EN TERUG*/


#logout{
    right: 80px;
    padding: 20px;
    background-color:rgb(213, 180, 49);
    width: 70px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    
}

#logout a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

#terug{
   padding-left: 20px; 
   padding-right: 20px;
   padding: 10px; 
   text-align: center;
   background-color:rgb(213, 180, 49);
   width: 40px;
   border-radius: 20px;
   margin-left: 40px;
   margin-top: 40px;
}

#terug a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

}